.error {
    color: red;
}

.modalBillingForm {
    .modalInput {
        padding: 0 41px;
        form {
            display: flex;
            flex-direction: column;
            
            input {
                width: 100%;
                height: 30px;
            }
        }
    }
}