.registerForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 50vw;
    margin: 100px auto;
    @include media ("<=phone") {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 100px;
        margin: 50px auto;
      }
      @include media ("<=tablet") {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 100px;  
        margin: 50px auto;
      }
}