#changePassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    
    form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        input {
            margin-top: 10px;
            padding: 5px;
        }
    }
}