//GRID VINYL

.header-container {
  display: flex;
  align-items: center;
  margin: 50px 0;
  @include media ("<=phone") {
    justify-content: center; 
    
  }
  @include media ("<=tablet") {
    justify-content: center; 
    
  }
  
  h2 {
    margin: 0 50px;
    text-transform: uppercase;
    border-bottom: 2px solid $yellow;
    font-size: 32px;
    @include media ("<=phone") {
      font-size: 24px;
      margin: 0; 
      justify-content: center; 
      
    }
  }
}

.container {
  max-width: 100%;
  max-height: 100%;
  margin: 0 50px;
  @include media ("<=phone") {
    margin: 0 10px;
    
  }@include media ("<=tablet") {
    margin: 0 10px;
    
  }
  
  .playlist {
    margin-bottom: 2.3rem;
    margin-top: 1.3rem;
    
  }
  .entries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5.3rem;
    grid-column-gap: 3.9rem;
    @include media ("<=phone") {
      display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 2.3rem;
    grid-column-gap: 1.9rem;
      padding-bottom: 90px;
    }
    @include media ("<=tablet") {
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2.3rem;
    grid-column-gap: 1.9rem;
      padding-bottom: 90px;
    }
    .tile {
      display: flex;
      flex-direction: column;
      @include media ("<=phone") {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        
      }
      @include media ("<=tablet") {
        display: flex;
        flex-direction: row;
        justify-content: center;
  
      }
      }
    }
    
  }
  .tile img {
    position: relative;
    border: 2px solid #9A9999;
    width: 100%;
    padding-bottom: 30px;
    @include media ("<=phone") {
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    @include media ("<=tablet") {
      
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .infos-record{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include media ("<=phone") {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    @include media ("<=tablet") {
      

    }

  .artistAndTitlePrice span {
    display: flex;
    flex-direction: column;
    
    
  
    p{
      margin: 3px;
    }

  }
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      height: 25px;
      margin: 3px;      
      font-size: 12px;
      outline: none;
      &.showMore {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

//HOVER ON IMG

  .hover-effect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hover-effect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 50%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid $yellow;
    border-top: 1px solid $yellow;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hover-effect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hover-effect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hover-effect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.3);
    -webkit-filter: brightness(0.2);
}

.overlay h2 {
    text-align: left;
    position: relative;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    
    filter: alpha(opacity=0);
    
}
  
