#cart{
     #cartItems {
    display: grid;
    grid-column-gap: 3rem;
    
    margin-bottom: 10px;
    #cartHeader {
        display: grid;
        grid-template-columns: 2fr 4fr 1fr 2fr 1fr;
        .itemDescription {
            margin-left: 20px;
            }
        }
    }
    .cartEntry {
        display: grid;
        grid-template-columns: 2fr 4fr 1fr 2fr 1fr;
        border-top: 1px solid black;
        padding-top: 10px;
        
        img {
            max-width: 100%;
            
        }
        .itemDescription {
            margin-left: 10px;
        }
    }
}