#register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 30px;
    
    h1 {
        padding-bottom: 20px;
        @include media ("<=phone") {
            margin-top: 30px;
            }
            @include media ("<=tablet") {
                margin-top: 30px;
            }
    }
    .userCreate {
        display: flex;
        flex-direction: column;
        label {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;    
        }
        input {
            padding: .5em;
            width: 400px;
            font-size: 15px;
            border: 1px solid $greymiddle;
            @include media ("<=phone") {
                width: 300px;
                }
                @include media ("<=tablet") {
                   
                }
        }
    }
}