.userHeader {
display: flex;
justify-content: flex-start;
align-items: center;
margin: 50px;
border-bottom: 3px solid black;

    .left {
        display: flex;
        
        a {
            display: flex;
            margin: 0 50px;
            justify-content: space-between;
            color: black; 
            text-decoration: none;
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    top: 100%;
                    left: 0;
                    background: black;
                    transition: transform 0.5s;
                    transform: scaleX(0);
                    transform-origin: right;
                }
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
            }
        }
    }
}