.userOrderHeader {
    display: grid;
    grid-template-columns: 0.7fr 0.8fr 0.5fr 1fr 1.4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 50px;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #BDBDBD;
    @include media ("<=phone") {
    display: grid;
    grid-template-columns: 0.7fr 0.8fr 0.5fr 1fr 1.4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    }

@include media ("<=tablet") {
    display: grid;
    grid-template-columns: 1fr 1.6fr 1.9fr 1.2fr 1.4fr 1fr;
    grid-template-rows: 1fr 1fr;
        
    }
    
}

.userOrderItem {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.9fr 1.2fr 1.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 50px;
    align-items: center;
    padding: 10px 0;
    @include media ("<=phone") {
        display: grid;
        grid-template-columns: 1fr 1fr 0.6fr 0.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0;
        font-size: 12px;
        
        }
    @include media ("<=tablet") {
        display: grid;
        grid-template-columns: 1fr 1.6fr 1.9fr 1.2fr 1.4fr 1fr;
        grid-template-rows: 1fr 1fr;
            
        }
    }
    
