#userInfosChange {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 220px;
    
    #changeUserInfos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;

        form {
            display: flex;
            flex-direction: column;
            padding: 10px;
            input {
                margin-top: 10px;
                padding: 5px;
            }
        }
       
}
    #changePassword {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        form {
            display: flex;
            flex-direction: column;
            padding: 10px;
            .createUserDetails {
                display: flex;
            flex-direction: column;
            
            }
            input {
                margin-top: 10px;
                padding: 5px;
            }
        }
    }
}