.adress {
    display: flex;
    justify-content: center;
    @include media ("<=phone") {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding-bottom: 100px;
        
        }
    @include media ("<=tablet") {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding-bottom: 100px;
        }
    .billingAdress {
        background-color: #BDBDBD ;
        width: 434px;
        height: 235px;
        margin: 30px 50px;
        padding: 10px;
        @include media ("<=phone") {
            width: 234px;
            height: 235px;
            
            }
        @include media ("<=tablet") {
            
            }
        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;   
        }
        .userBillingAdress {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            font-style: italic;
        }
    }
    .shippingAdress {
        background-color: #BDBDBD ;
        width: 434px;
        height: 235px;
        margin: 30px 50px;
        padding: 10px;
        @include media ("<=phone") {
            width: 234px;
            height: 235px;
            
            }
        @include media ("<=tablet") {
            
            }
        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;  
        }
        .userShippingAdress {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            font-style: italic;
        }
    }
}