#userInfosChange {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 220px;
    @include media ("<=phone") {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding-bottom: 100px;
        margin: 20px;
        }
    @include media ("<=tablet") {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding-bottom: 100px;
        }
    
    #changeUserInfos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        form {
            display: flex;
            flex-direction: column;
            padding: 10px;
            input {
                margin-top: 10px;
                padding: 5px;
            }
        }
       
}
    #changePassword {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        form {
            display: flex;
            flex-direction: column;
            padding: 10px;
            .createUserDetails {
                display: flex;
            flex-direction: column;
            
            }
            input {
                margin-top: 10px;
                padding: 5px;
            }
        }
    }
}