.boardVinylBox{
    width: fit-content;
    margin: 0 auto;
}
.boardVinylBox>div{
    width: fit-content;
    margin-bottom: 50px;
    border: solid rgba(0, 0, 0, 0.301) 1px;
}
.boardVinylBox>div>h4{
    background-color: rgb(134, 134, 134);
    color: white;
    text-align: center;
}
td, tr {
    width: 10%;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    overflow: auto;
  }
.tr0>td{
    background-color: rgba(255, 253, 106, 0.835)
}  
 