//FOOTER

.footer {
    width: 100%;  
    height: 120px;
    background: $greymiddle;
    position: absolute;
    bottom: 0;
    left: 0;
    @include media ("<=tablet") {
      font-size: 14px;
      height: 90px;
  }
  @include media ("<=phone") {
    font-size: 14px;
      height: 30px;
  }
    p{
      margin: 0;
    }
    .container-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      
        a {
          font-size: 32px;
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          font-style: $bold;
          margin: 30px;
          @include media ("<=tablet") {
            font-size: 18px;
            margin: 10px;
        }
        @include media ("<=phone") {
          font-size: 12px;
          margin: 0;
        }
          &:hover {
            color: #ffed00;
          }
        }
        .logoFooter {
          width: 112px;
          height: 112px;
          @include media ("<=tablet") {
            width: 92px;
            height: 92px;
          }
          @include media ("<=phone") {
            display: none;
          }
        }
      } 
      
        .extraInfos {
          margin: 0 40px;
          padding: 10px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          @include media ("<=tablet") {
            font-size: 12px;
            margin: 10px;
            flex-direction: column;
            align-items: center;
            
        }
        @include media ("<=phone") {
          font-size: 8px;
          margin: 10px;
          height: 30px;
          flex-direction: column;
          align-items: center;
          
        }
        }
      }
      
    
