// SLIDE SELL VINYL 
.container-sell {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  margin: 0;
  .swiper-container {
    width: 600px;
    height: 600px;
    margin: 0;
    
  }
  .sliderImage {
      width: 500px;
      height: 500px;
      margin: 50px;
         
  }
  .sellContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 50px;
    font-size: 22px;
    p {
      margin: 30px 0;
    }
  }
 
}