
  
  // HEADER TOP
  
  .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    
    p{
      font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
     margin: 0 50px;
     @include media ("<=phone") {
      margin: 0;
    }
    }
    input {
      width: 146px;
      height: 25px;
      background-color: #C4C4C4;
      outline: none;
      margin: 0 50px;
  
    }
    .social {
      display: flex;
      flex-direction: row;
      margin: 0 50px;
      @include media ("<=phone") {
        margin: 0;
      }
      a {
        i {
          margin: 0 15px;
          color: black;
          &:hover {
            color: $yellow;
          }
        } 
      }
    }
    
  
  }