// .extraInfos {
//   position: absolute;
//   bottom: 0;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background: #969595;
//     width: 100%;
//         .adress {
//           display: flex;
//           justify-content: flex-start;
//           margin: 20px 50px;
          
//           }
//             .copyright {
//               margin: 20px 50px;
//             }
//   }