//FOOTER

.footer {
    width: 100%;  
    height: 100px;
    // background: $greymiddle;
    position: absolute;
    bottom: 0;
    left: 0;
    p{
      margin: 0;
    }
    .container-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .footerRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
        a {
          font-size: 32px;
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          font-style: $bold;
          margin: 30px;
          &:hover {
            color: #ffed00;
          }
        }
      } 
      .footerRow.second {
          justify-content: center;
          width: 112px;
          height: 112px;
          margin: 0;
          padding: 0;
          
        
        }
        .extraInfos {
          margin: 0 40px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
      
    
  }