#summaryShipping {
    margin-right: 50px;
    @include media ("<=phone") {
        margin: 0;
        
        }
    @include media ("<=tablet") {
        margin: 0;
            
        }
    #summary {
        h2 {
            border-bottom: 2px solid black;
            background-color: #565555;
            color: white;
            padding: 5px;
        }
    
     .justify {
         display: flex;
         justify-content: space-between;
         padding: 5px;
         border-bottom: 1px solid black;
     }
    }
}

