
#basketSummary {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 100px;
    @include media ("<=phone") {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
        
        }
    @include media ("<=tablet") {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 100px;
            
        }
    
}