//ANIMATION TEXT

.wrapper {
    max-width: 100%;
    min-height: 50px;
    height: 100%;
    max-height: 1180px;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    .header {
        .secondary-slideshow {
            display: flex;
            align-items: center;
        }
        .job {
            white-space: nowrap;
        }
    }
    .secondary-slideshow {
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        padding: .38rem 0;
        float: right;
        animation: slideshow2 20s infinite linear;
    }
    .job {
        font-size: 1rem;
        margin-right: 0.69rem;
    }
  }