.order {
    @include media ("<=phone") {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        
        }
    // @include media ("<=tablet") {
    //         display: flex;
    //         flex-direction: row;
    //         align-items: center;
    //         justify-content: space-between;
            
    //     }
}


.orderHeader {
    display: grid;
    grid-template-columns: 1.7fr 0.8fr 0.9fr 1.2fr 1.4fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px 0;
    margin: 0 50px;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #BDBDBD;
    @include media ("<=phone") {
        display: grid;
        grid-template-columns: 2fr 1fr 1.2fr 0.9fr 1fr 0.6fr;
        grid-template-rows: 1fr;
        // margin: 0 10px;
        padding: 0;
        
        }
    @include media ("<=tablet") {
        display: grid;
        grid-template-columns: 2fr 1fr 0.5fr 0.8fr 1fr 0.5fr;
        grid-template-rows: 1fr 1fr ;
        margin: 0 30px;
        padding: 0;
        font-size: 10px; 
        }
    
}
.orderItem {
    display: grid;
    grid-template-columns: 1.7fr 0.8fr 0.9fr 0.5fr 1.4fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 50px;
    padding: 0;
    @include media ("<=phone") {
        display: grid;
        grid-template-columns: 1.5fr 0.9fr 0.9fr 0.7fr 1.7fr 0.4fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0;
        padding: 0;  
    }
    @include media ("<=tablet") {
        display: grid;
        grid-template-columns: 1.5fr 0.6fr 0.9fr 0.7fr 0.7fr 0.4fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 30px;
        padding: 0;

    }
    .justify {
        margin: 20px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        @include media ("<=phone") {
            font-size: 10px;
             
         }
     @include media ("<=tablet") {
        
     
         }
        
    }
    .detailsBtn {
        margin-bottom: 10px;
        outline: none;
        @include media ("<=phone") {
        display: none;
        }
    @include media ("<=tablet") {
        display: none;
    
        }
    }

}