.adminHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;
    border-bottom: 3px solid black;
    @include media ("<=phone") {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px;
        }
    @include media ("<=tablet") {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 20px;
        }
        .left {
            display: flex;
            @include media ("<=phone") {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                
                }
            @include media ("<=tablet") {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    
                }
            a {
                display: flex;
                margin: 0 50px;
                justify-content: space-between;
                color: black; 
                text-decoration: none;
                @include media ("<=phone") {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin: 5px 0;
                    
                    }
                @include media ("<=tablet") {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin: 5px 0;

                        
                    }
                
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 3px;
                        top: 100%;
                        left: 0;
                        background: black;
                        transition: transform 0.5s;
                        transform: scaleX(0);
                        transform-origin: right;
                    }
                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                }
            }
        }
    }