//ANIMATION TEXT

.wrapper {
    max-width: 100%;
    min-height: 50px;
    height: 100%;
    max-height: 1180px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    .header {
        .secondary-slideshow {
            display: flex;
            align-items: center;
        }
        .job {
            white-space: nowrap;
        }
    }
    .secondary-slideshow {
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        padding: .38rem 0;
        float: right;
        animation: slideshow2 20s infinite linear;
    }
    .job {
        font-size: 1rem;
        margin-right: 0.69rem;
    }
  }
  
  // HEADER TOP
  
  .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    
    p{
      font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
     margin: 0 50px;
    }
    input {
      width: 146px;
      height: 25px;
      background-color: #C4C4C4;
      outline: none;
      margin: 0 50px;
  
    }
    .social {
      display: flex;
      flex-direction: row;
      margin: 0 50px;
      a {
        i {
          margin: 0 15px;
          color: black;
          &:hover {
            color: $yellow;
          }
        } 
      }
    }
    
  
  }