.registerForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 70vw;
    max-height: 100vh;
    margin: 50px auto;
    padding-bottom: 180px;
}