.logoAnimation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 86vh;
    a {
    .logo{
        
        width: 500px;
        height: 500px;
        animation: spin infinite 10s linear;
        transform-origin: 50% 50%;
        transform-box: fill-box;
        transition-duration: 1s;
        will-change: transform;
        filter: invert(100%);
        @include media ("<=phone") {
            width: 200px;
            height: 200px;
            
          }
            &:hover {
                filter: invert(0);
                width: 400px;
                height: 400px;
                @include media ("<=phone") {
                    width: 270px;
                    height: 270px;
                    
                  }
                
            }
            @include mobile {
                max-width: 600px;
            }
        }
    }   
}