//FOOTER

.footer {
    width: 100%;  
    height: 150px;
    background: $greymiddle;
    position: absolute;
    bottom: 0;
    left: 0;
   
      
      
    
    .container-footer {
      display: flex;
      flex-direction: column;
      

      .footerRow {
        display: flex;
      justify-content: space-between;
      align-items: center;
        img {
          width: 150px;
          height: 150px;
        }
       
        a {
          font-size: 32px;
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          font-style: $bold;
          margin: 30px;
          &:hover {
            color: #ffed00;
          }
        }
      } 
      
        .extraInfos {
          margin: 0 40px;
          display: flex;
          justify-content: space-between;

         
        }
      } 
  }