@keyframes slideshow2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(1041px);
    }
  }
  @keyframes spin {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
}