* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $roboto;
  }
html {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
main {
    
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 160px;
}

@mixin wide-screen {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 1200px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: 400px) and (max-width: 1200px) {
        @content;
    }
}