@import './function.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  font-family: $roboto;
  
  p{
    font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
   margin: 0 50px;
  }
  input {
    width: 146px;
    height: 25px;
    background-color: #C4C4C4;
    outline: none
    ;

  }
  .social {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    a {
      
      i {
        margin: 0 15px;
        color: black;
  
      }
    }
  }
  

}
nav {
  width: 100%;
  height: 122px;
  background: $greymiddle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $roboto;
  .logo {
    img {
      margin: 0 50px;
      background: $greymiddle;
      height: 112px;
      width: 112px;
      
    }
  }
  .link {
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          margin: 0 23px;   
          a{
            text-decoration: none;    
                  li {
                    font-style: $bold;
                    font-size: 20px;
                    margin: 0 23px;
                    color: black;
                    font-weight: $bold;
                    position: relative;
                    list-style: none;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 3px;
                        top: 100%;
                        left: 0;
                        background: #ffed00;
                        transition: transform 0.5s;
                        transform: scaleX(0);
                        transform-origin: right;
                    }
                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
              }
            }
          }          
        }
      }
      .cart {
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
        i {
          display: flex;
          flex-direction: ro
        }
        p {
          font-size: 20px;
          margin: 0 10px;
          font-family: $roboto;
        }
        #cart {
          font-size: 20px;
        }
      }
      }
            
.container {
  max-width: 1440px;
  margin: 0 auto;
  .playlist {
    padding: 0 1.3rem;
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    
  }
  .entries {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 1.3rem;
    grid-column-gap: 3.9rem;
    .tile {
      display: flex;
      flex-direction: column;
    }
    
  }
  .tile img {
    position: relative;
    border: 2px solid #9A9999;
    width: 100%;
  }
  .infos-record{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  .artistAndTitlePrice {
    display: flex;
    flex-direction: column;

  }
.button {
  display: flex;
  flex-direction: column;
  
}
  }
  
}      
