@import './function.scss';
@import './animations.scss';
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import '../component/Footer/footer.scss';
@import '../component/Header/header.scss';
@import '../component/Navbar/navbar.scss';
@import '../component/Release/vinylgrid.scss';



#app {
  position: relative;
  // min-height: 100vh;
}

// SLIDE SELL VINYL 
.container-sell {
  display: flex;
  flex-direction: row;
  .sliderImage {
      width: 500px;
      height: 500px;
      margin: 50px;    
  }
 
}




