@import './function.scss';
@import './animations.scss';
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import '../component/Footer/footer.scss';
@import '../component/Header/header.scss';
@import '../component/Navbar/navbar.scss';
@import '../../src/component/Page/release/vinylgrid.scss';
@import '../../src/component/Page/slide/slider.scss';
@import '../../src/component/Page/Live/live.scss';
@import '../../src/component/Header/animations.scss';
@import '../../src/component/Footer/footerbottom.scss';
@import '../../src/component/Page/home.scss';
@import '../../src/component/Page/release/releasedetails.scss';
@import '../component/cart/cart.scss';
@import '../component/cart/cartsummary/cartsummary.scss';




.registerForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 50vw;
    margin: 100px auto;
}
#register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 30px;
    h1 {
        padding-bottom: 20px;
    }
    .userCreate {
        display: flex;
        flex-direction: column;
        label {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;    
        }
        input {
            padding: .5em;
            width: 300px;
            font-size: 15px;
            border: 1px solid $greymiddle;
        }
    }
}
#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
        padding-bottom: 20px;
    }
    .loginGroup {
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;    
        }
        input {
            padding: .5em;
            width: 300px;
            font-size: 15px;
            border: 1px solid $greymiddle;
        }
    }
    .loginCheckbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;
        .checkbox {
            width: auto;
            
        }
        p{
            margin-left: 3px;
            
        }
    }
    
    
}






