@import './function.scss';
@import './animations.scss';
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import '../component/Footer/footer.scss';
@import '../component/Header/header.scss';
@import '../component/Navbar/navbar.scss';
@import '../../src/component/Page/release/vinylgrid.scss';
@import '../../src/component/Page/slide/slider.scss';
@import '../../src/component/Page/Live/live.scss';
@import '../../src/component/Header/animations.scss';
@import '../../src/component/Footer/footerbottom.scss';
@import '../../src/component/Page/home.scss';
@import '../../src/component/Page/release/releasedetails.scss';











