@import './function.scss';
@import './animations.scss';
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import '../component/Footer/footer.scss';
@import '../component/Header/header.scss';
@import '../component/Navbar/navbar.scss';
@import '../../src/component/Page/release/vinylgrid.scss';
@import '../../src/component/Page/slide/slider.scss';
@import '../../src/component/Page/Live/live.scss';
@import '../../src/component/Header/animations.scss';
@import '../../src/component/Footer/footerbottom.scss';
@import '../../src/component/Page/home.scss';
@import '../../src/component/Page/release/releasedetails.scss';
@import '../component/cart/cart.scss';
@import '../component/cart/cartsummary/cartsummary.scss';
@import '../component/cart/summaryshipping/summaryshipping.scss';
@import '../component/Page/LogInForm/userregisterpage.scss';
@import '../component/Page/LogInForm/Signform/Register.scss';
@import '../component/Page/LogInForm/Signform/login.scss';
@import '../component/Page/User/orderheader.scss';
@import '../component/Page/User/useradress.scss';
@import '../component/Page/User/Modal/modal.scss';
@import '../component/Page/User/Modal/ModalBilling/modalbilling.scss';
@import '../component/Page/User/userdetails.scss';
@import '../component/Page/admin/admindashboard.scss';
@import '../component/Page/admin/addreference.scss';
@import '../component/Page/admin/adminvistors.scss';
@import '../component/Page/admin/adminorders.scss';
@import '../component/Page/User/Modal/ModalShipping/modalshipping.scss';













