@import './function.scss';
@import './animations.scss';
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import '../components/Footer/footer.scss';
@import '../components/Header/header.scss';
@import '../components/Navbar/navbar.scss';
@import '../components/Page/release/vinylgrid.scss';
@import '../components/Page/slide/slider.scss';
@import '../components/Page/Live/live.scss';
@import '../components/Header/animations.scss';

@import '../components/Page/home.scss';
@import '../components/Page/release/releasedetails.scss';

@import '../components/cart/cart.scss';
@import '../components/cart/cartsummary/cartsummary.scss';
@import '../components/cart/summaryshipping/summaryshipping.scss';

@import '../components/Page/LogInForm/userregisterpage.scss';
@import '../components/Page/LogInForm/Signform/login.scss';
@import '../components/Page/LogInForm/Signform/register.scss';
@import '../components/Page/LogInForm/Signform/login.scss';

@import '../components/Page/user/orderheader.scss';
@import '../components/Page/User/useradress.scss';
@import '../components/Page/User/Modal/modal.scss';
@import '../components/Page/User/Modal/ModalBilling/modalbilling.scss';
@import '../components/Page/User/UserDetails/userdetails.scss';
@import '../components/Page/User/UserDetails/UserFormDetails/ChangePassword/changepassword.scss';
@import '../components/Page/User/UserDetails/UserFormDetails/PersonalInfos/personnalinfos.scss';

@import '../components/Page/admin/admindashboard.scss';
@import '../components/Page/admin/addreference.scss';
@import '../components/Page/admin/adminvistors.scss';
@import '../components/Page/admin/adminorders.scss';
@import '../components/Page/admin/VinylDashboard.scss';